<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="redhu's net blog" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">redhu's net blog</a>
    <a class="extra" href="/">home</a>
  </div>
  <p class="desc" style="margin-bottom: 50px; color: #aaaaaa; text-align: right">
    <em>
      做自己能做的事，说自己能说的话
    </em>
  </p>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        redhu
        <br />
        gzhmj@foxmail.com
      </p>
    </div>
  </div>
</div>
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?477a5681bd0d8104cdbd9e2a8eca1f07";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</body>
</html>
